// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #007bff;
$secondary: #17a2b8; // Request
$accent: #28a745;  // Help

$dark: #343a40; // Normal Post
$dark-page: #f8f9fa;

$positive: #28a745;
$negative: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
